<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Animes</title>
    <style>
        body {
            font-family: Monaco, Georgia, Times, serif;
        }
        .show{
            padding-left: 10em;
        }
        .tot{
            background-image: url('https://i.pinimg.com/originals/66/99/ba/6699bac7377192152d83f943f7faec94.jpg');
            background-size: 100%;
        }
        .alter{
            background-color: royalblue;
        }
        .showimg{
            width: 30%;
            height: 30%;
        }
        .img{
            width: 50%;
            height: 50%;
        }
        .c3{
            width: 70%;
        }

        .emision{
            background-color: #66FF00;
        }
        .noemision{
            background-color:  #e57373;

        }
    </style>
</head>
<body>

<script id="animes_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Animes</h1>

        <a href="#!/animes/add" class="add btn btn-primary">Add</a>

        <table>
            <thead>
            <tr>
                <th>Imagen</th>
                <th>Titulo</th>
                <th>Genero</th>
                <th>Estudio</th>
                <th>Autor</th>
                <th>Emision</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{for animes}}
            <tr>
                <td>
                    <a  href="#!/animes/{{:_id}}"><img class="img" src="{{:image}}" alt=""></a>
                </td>
                <td>
                    <a href="#!/animes/{{:_id}}">{{:titulo}}</a>
                </td>
                <td>
                    {{:genero}}
                </td>
                <td>
                    {{:studio}}
                </td>
                <td>
                    {{:autor}}
                </td>
                {{if emision=='SI'}}
                <td class="emision">
                    {{:emision}}
                </td>
                {{else}}
                <td class="noemision">
                    {{:emision}}
                </td>
                {{/if}}
                <td>
                    <a href="#!/animes/{{:_id}}/delete" class="btn btn-danger delete">Delete</a>
                    <a href="#!/animes/{{:_id}}/modify" class="btn btn-warning modify">Modify</a>
                </td>
            </tr>
            {{/for}}
            </tbody>
        </table>
    </div>
    <div class="alter">
        <h3>Recordatori</h3>
        <p>Esta Paguina recoge información de wikis especializadas en estas series, y colaboradoras por los usuarios.</p>
    </div>
</script>

<script id="anime_template" type="text/x-handlebars-template">
    <div class="show">
        <div class="1">
            <h1>{{:titulo}}</h1>
            <div class="">
                <img class="showimg" src="{{:image}}" alt="">
            </div>
            <div class="c3">
                <ul>
                    <li>Genero: {{:genero}}</li>
                    <li>En emision: {{:emision}}</li>
                    <li>Estudio de animacion: {{:studio}}</li>
                    <li>Autor: {{:autor}}</li>
                    <li>Argumento: {{:argument}}</li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script id="add_anime_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Add anime</h1>

        <form action="">
            <label for="image">Image</label>
            <input type="text" name="image" id="image">

            <br>

            <label for="titulo">Title</label>
            <input type="text" name="titulo" id="titulo">

            <br>

            <label for="genero">genero</label>
            <input type="text" name="genero" id="genero">

            <br>

            <label for="studio">Estudio</label>
            <input type="text" name="studio" id="studio">

            <br>

            <label for="autor">Autor</label>
            <input type="text" name="autor" id="autor">

            <br>

            <label for="emision">emision</label>
            <input type="text" name="emision" id="emision">

            <br>

            <label for="argument">argumento</label>
            <input type="text" name="argument" id="argument">

            <br>

            <button type="submit" class="btn btn-primary add-form-submit">
                submit
            </button>
        </form>
    </div>
</script>

<script id="modify_anime_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Modify {{:titulo}}</h1>

        <form action="">
            <label for="image">Image</label>
            <input type="text" name="image" id="image"
                   value="{{:image}}">

            <br>

            <label for="titulo">Title</label>
            <input type="text" name="titulo" id="titulo"
                   value="{{:titulo}}">

            <br>

            <label for="genero">genero</label>
            <input type="text" name="genero" id="genero"
                   value="{{:genero}}">

            <br>

            <label for="studio">Estudio</label>
            <input type="text" name="studio" id="studio"
                   value="{{:studio}}">

            <br>

            <label for="autor">Autor</label>
            <input type="text" name="autor" id="autor"
                   value="{{:autor}}">

            <br>

            <label for="emision">emision</label>
            <input type="text" name="emision" id="emision"
                    value="{{:emision}}">

            <br>

            <label for="argument">argumento</label>
            <input type="text" name="argument" id="argument"
                   value="{{:argument}}">

            <br>

            <button data-id="{{:_id}}" type="submit" class="btn btn-primary modify-form-submit">
                submit
            </button>
        </form>
    </div>
</script>


<script id="register_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Register</h1>

        <form action="">
            <label for="image">username</label>
            <input type="text" name="username" id="username">
            <br>

            <label for="titulo">password</label>
            <input type="text" name="password" id="password">
            <br>

            <button type="submit" class="btn btn-primary register-form-submit">
                submit
            </button>
        </form>
    </div>
</script>

<script id="login_template" type="text/x-handlebars-template">
    <div class="container">
        <h1>Login</h1>

        <form action="">

            <label for="image">username</label>
            <input type="text" name="username" id="username">
            <br>

            <label for="titulo">password</label>
            <input type="text" name="password" id="password">
            <br>

            <button type="submit" class="btn btn-primary login-form-submit">
                Submit
            </button>
        </form>
    </div>


</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#!/">Animes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div id="app" class="tot"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.1/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
<script>

    var root = null;
    var useHash = true;
    var hash = '#!';
    var router = new Navigo(root, useHash, hash);

    router
        .on('/', showAnimes)
        .on('/register', register)
        .on('/login', login)
        .on('/animes/add', addAnime)
        .on('/animes/:id', showAnime)
        .on('/animes/:id/delete', deleteAnime)
        .on('/animes/:id/modify', modifyAnime)
        .resolve();

    var storage=window.localStorage;
    var token=storage.getItem("token");

    console.log(token);

    function showAnime(params) {
        $.getJSON("api/animes/" + params.id, function (data) {
            var html = $("#anime_template").render(data);

            $("#app").html(html);
        });
    }

    function registerFormSubmit(event) {
        event.preventDefault();
        var form = $('form');
        var data = form.serializeObject();
        console.log(data);

        $.post("/api/auth/register/", data, function (result) {
            console.log(result);
            if(result.success){
                var type="success";
            }else{
                var type="error";
            }
            new Noty({
                text:result.msg,
                type: type,
                layout:'topCenter',
                timeout: 3000
            }).show();
            router.navigate('/');
        }).catch(function (error) {
            console.log(error);
        });
    }

    function register() {
        var html = $("#register_template").render();

        $("#app").html(html);

        $(".register-form-submit").on("click", registerFormSubmit);
    }

    function loginFormSubmit(event) {
        event.preventDefault();
        var form = $("form");
        var data = form.serializeObject();
        console.log(data);

        $.post("api/auth/login/", data, function (result) {
            var type="success";
            var text="Logged in";

            new Noty({
                text:text,
                type: type,
                layout:'topCenter',
                timeout: 3000
            }).show();

            console.log(result);

            storage.setItem("token",result.token);

            router.navigate('/');

        }).catch(function (error) {
            var type="error";
            var text="Error logging in";

            new Noty({
                text:text,
                type: type,
                layout:'topCenter',
                timeout: 3000
            }).show();
            console.log(error)
        });
    }

    function login(){
        var html = $("#login_template").render();
        $("#app").html(html);
        $(".login-form-submit").on("click", loginFormSubmit)
    }
    
    function deleteAnime(params) {
        $.ajax({
            url: 'api/animes/' + params.id,
            type: 'DELETE',
            headers:{
                'Authorization': token,
            }
        }).then(function (result) {
            router.navigate('/');
        });
    }

    function modifyFormSubmit(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject()
        var button = $("form > button");

        var id = button.data("id");

        $.post("api/animes/" + id, data, function (result) {
            router.navigate('/');
        })
    }

    function modifyAnime(params) {
        $.getJSON("api/animes/" + params.id, function (data) {
            var html = $("#modify_anime_template").render(data);
            $("#app").html(html);

            $(".modify-form-submit").on("click", modifyFormSubmit);
        });

    }

    function addFormSubmit(event) {
        event.preventDefault();

        var form = $("form");

        var data = form.serializeObject()

        $.post("api/animes/", data, function (result) {
            router.navigate('/');
        })
    }

    function addAnime() {
        var html = $("#add_anime_template").render();

        $("#app").html(html);

        $(".add-form-submit").on("click", addFormSubmit);
    }

    function showAnimes() {
        $.getJSON("api/animes/", function (data) {
            var html = $("#animes_template").render(data);
            $("#app").html(html);

        });
    }

</script>
</body>
</html>